<h1><%= @patient.name %></h1>
<ul>
	<% @patient.appointments.each do |appointment| %>
		<li>
			<%= link_to appointment.formatted_datetime,
				appointment_path(appointment) %>
			<%= link_to appointment.doctor.name,
				doctor_path(appointment.doctor) %>
		</li>
	<% end %>
</ul>