<h1><%= @doctor.name %></h1><br>
<h3><%= @doctor.department %></h3><br>

<% @doctor.appointments.each do |a| %>
<%= link_to a.patient.name, patient_path(a.patient) %>
<%= a.appointment_datetime.strftime('%B %d, %Y at %H:%M') %>
<% end %>


